<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To Do List</title>
    <!-- <link href="style.css" rel="stylesheet"></link> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <style>
    
    html, body{
        height: 100%;
        margin: 0;
    }
.top-bar a{
    text-decoration: none;
    color: white;
}
.top-bar{
    background-color: #74A4B3;
    height: 30px;
    text-align: center;
    padding: 0;
    margin: 0;
}

.enter{
    margin-top: 20%;
    text-align: center;
}
    </style>
</head>
<body style="background-image: url('backgrounduse.jpg')">
    <div class="top-bar">
<a href="#">To Do List</a>
    </div>

    <div class="form-box">
    <form class = "enter" action="/submit" method="POST">
        <input type="text" placeholder="Your To-Do-List" name="todo">
        <input type="submit"></input>
         
    </form>

    <% for(var i = 0; i < a.length; i++){    %>
            <%=i%><% var val = a[i]; %>
                <form style="display:inline" action="/done" method="POST"><button type="submit" name="done" value="<%= val.name %>">Done</button></form>
                <form style="display:inline" action="/failed" method="POST"><button value="<%= val.name %>" name="failed" type="submit">Failed</button></form>
                <div 
                id="<%= 'editVisi'+i%>" style="display:inline"><button 
                    value="<%= val.name %>" name="edit" type="submit" 
                    onclick=
                    "document.getElementById(&quot;<%='editVisi'+i%>&quot;).style.display = 'none'; 

                    var btn = document.createElement('button');
                    btn.type = 'submit';
                    btn.innerHTML = 'Done';
                    btn.name = 'oldOne';
                    btn.value = '<%= val.name %>';
                    
                    
                    
                    document.getElementById(&quot;<%='shown'+i%>&quot;).appendChild(btn);

                    var inp = document.createElement('input'); 
                    inp.type= 'text';
                    inp.value = '<%= val.name %>';
                    inp.name = 'edited';
                    document.getElementById(&quot;<%= 'shown'+i %>&quot;).appendChild(inp);
                    ">
                    Edit</button></form> 
                    
                    <%= val.name %></div>
                    <form id="<%= 'shown'+i %>" method="POST" action="/edit" style="display: inline"></form> </br>
            
       <% } %></div></div>
       <br><br><br><form method='get' action='/disDones' style="display: inline"><button>Dones</button></form>
       <form method='get' action='/disFails' style="display:inline"><button>Failed</button></form>

</body>
</html>